<!DOCTYPE html>
<html>
  <head>
    <title>FreeCodeCamp File Metadata Microservice</title>
    <meta name="description" content="Get metadata info of an uploaded file">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        FreeCodeCamp File Metadata Microservice
      </h1>
    </header>

    <main>
      <p>Upload file here to get metadata</p>
      <form>
        <input type="file">
        <button type="submit">Submit</button>
      </form>
    </main>

    <footer>
      <a href="https://glitch.com">
        Remix this in Glitch
      </a>
    </footer>

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
