<!DOCTYPE html>
<html>
  <head>
    <title>FreeCodeCamp File Metadata Microservice</title>
    <meta name="description" content="Get metadata info of an uploaded file">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <h1>
        FreeCodeCamp File Metadata Microservice
      </h1>
    </header>

    <main>
      <p>Upload file here to get metadata</p>
      <form enctype="multipart/form-data" method="post" action="/file">
        <input name="file" type="file">
        <button type="submit">Submit</button>
      </form>
    </main>
  </body>
</html>
